<%-include('../partials/header') %>
<h1>Show Page</h1>
<p><strong>Skill Id: <%=skill.id%></strong></p>
<h2>Skill: <%=skill.skill%></h2>
<ul>
  <li>Skill Level: <%=skill.level%></li>
</ul>
<%-include('../partials/footer')%>
